:root {
  --color-bg: black;
  --color-primary: #f34a53;
  --font-family: 'Segoe UI';
  --font-size: 18px;
  --spacing-sm: 4px;
  --spacing-md: 8px;
  --spacing-lg: 16px;

  font-size: var(--font-size);
  font-family: var(--font-family);
  color: white;
  background-color: var(--color-bg);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/** containers **/

.page-root {
  font-size: 1rem;
  font-family: var(--font-family);
  color: white;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 'header' 'main' 'footer';

  max-width: 800px;
}

.page-header {
  font-weight: normal;
  padding: var(--spacing-sm) var(--spacing-md);
  border-bottom: 2px solid var(--color-primary);
  display: flex;
  justify-content: space-between;
}

.inline-link-container {
  display: flex;
  align-items: center; /* Align items vertically in the center */

  & ul {
    list-style-type: none; /* Remove default list styles */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
    display: flex;
  }

  & li {
    margin-right: var(--spacing-lg);
  }

  & a {
    text-decoration: none;
    color: white;
  }
}

.page-main {
  padding: 0;
}

.page-footer {
  font-weight: thin;
  color: white;
  padding: var(--spacing-sm) var(--spacing-md);
}

/** components **/

.content {
  padding: var(--spacing-md);
}

.btn {
  font-weight: bold;
  color: white;
  background-color: var(--color-primary);
  padding: var(--spacing-sm);
  margin-right: var(--spacing-sm);
  border: none;
}

.btn-link {
  font-weight: bold;
  color: white;
  background-color: var(--color-primary);
  padding: 0 var(--spacing-sm);
  border: none;
}

/** utils **/

.red {
  color: #f34a53;
}

.flex {
  display: flex;
}

.brand {
  font-weight: bold;
}
